APP_PORT=5000
FRONTEND_URL=http://localhost:5173
DB_HOST=localhost
DB_USER=not_root
DB_PASSWORD=my_password
DB_NAME=name_of_your_project
JWT_SECRET=ce_que_je_veux

# Upload Directory
UPLOAD_DIR=public/uploads/