# backend folder

APP_PORT=YOUR_APP_PORT
FRONTEND_URL=YOUR_FRONTEND_URL
DB_HOST=localhost_or_other
DB_USER=not_root
DB_PASSWORD=your_password
DB_NAME=your_name_of_your_project
# JWT_SECRET=what_you_want
JWT_TIMING=2h # (appelée dans verifyPassword lors du login)  

# Upload Directory
UPLOAD_DIR=public/uploads/

# Pour se connecter à la base de données MySQL, le port 3306 par défaut est utilisé pour l'application Node.JS.