APP_PORT=5000
FRONTEND_URL=http://localhost:5173
DB_HOST=localhost_or_other
DB_USER=not_root
DB_PASSWORD=my_password
DB_NAME=name_of_your_project
JWT_SECRET=ce_que_je_veux
JWT_TIMING=2h # (appelée dans verifyPassword lors du login)  

# Upload Directory
UPLOAD_DIR=public/uploads/

# Pour se connecter à la base de données MySQL, le port 3306 par défaut est utilisé pour l'application Node.JS.